@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

header {
    background-color:rgb(222, 222, 222);
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
    
}

header input#toggler {
    display: none;
}

header label img {
    width: 119px;
    height: auto;
    padding: 10px;
    
}

#imageToSwitch {
    max-width: 88px;
}

label {
    color: black;
}

.header-shim {
    height: 66.25px;
}


nav {
    display: none;
}

input#toggler:checked+nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    border-bottom: 1px solid black;
    padding: 10px 0px;
    text-align: center;
}

nav li:first-child {
    margin-top: 0px;
}



nav ul a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black ;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.highlight {
    border-bottom: 2px solid black;
 }



/*---------------- MEDIUM SECTION -------------------*/

@media(min-width: 540px) {

    header label {
        display: none;
    }

    .header-shim {
        height: 61px;
    }
    

    nav,
    input#toggler+nav {
        display: block;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }

    nav ul {
        text-align: center;
    }

    nav {
        padding: 0px 10px;
    }

    nav a:hover {
        color: #3b3b3b;
        border-top: 5px solid white;
        padding-top: 18px;
    }

    

}


/*---------------- MEDIUM SECTION END -------------------*/

