.purple {
    background-color: rgb(255, 255, 255);
}

.white{
    background-color: #ffffff;

}

.pink{
    background-color:  rgb(255, 134, 215);
}

.green{
    background-color: rgb(29, 185, 133);

}

.yellow{

    background-color: yellow;
}

.blue{
    background-color: blue;
}

.transparent{
    background-color: transparent;


    
}