@import url("colors.css");

body {
    margin: 0px;
}

header input#toggler {
    display: none;

}



header label img{
    width: 50px;
    height:auto;
    margin: 17px 17px 0px;

}

header{
    background-color: white;

}

nav {
background-color: white;
padding: 20px 10px;
display: none;
}

input#toggler:checked + nav {
    display:block;
}


nav li{
    border-bottom:1px solid
    black; 
    padding: 5px 0px;
    margin: 10px;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav ul a {

    text-decoration: none;
    color: black;
    text-transform: uppercase; 
}

h2{

        
    margin: 62px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    color: white;
       

}

/*----------main--------*/


.floater-section {
    float: left;
    min-height: 43px;
    width: 123%;
    
}

.container::after{
    clear: both;
    content:"";
    display:block;
  
}

@media(min-width: 540px) {
    nav ul li{
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        

    }
nav{
    padding: 0px 10px;

}

}